@import 'colors.scss';

$larguras: 20px;



.cadastro {
    background-color: $color_5_1;
    text-align: center;
    border-radius: 20px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cadastro h1{
    padding: $larguras $larguras $larguras $larguras;
    font-family: $font-family_2;
}

.campos {
    font-family: $font-family_8;
    font-size: large;
    text-align: left;
    position: relative;
    padding: 0px $larguras $larguras $larguras;
}