$color_1: #000000; // Preto Plata de trânsito.
$color_2: #43da43; //Verde Semáforo.
$color_2_1: #008000; //Verde Semáforo.
$color_3: #FF0000; // Vermelho Semáforo.
$color_4: #f9fd00; // Amarelo Semáforo.
$color_5: #FFFFFF; // Faixa Pedestre
$color_5_1: #e4e4e4a8; // Faixa Pedestre
$color_6: #ff7919; // Marrom Meio-fio/Calçadas.
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Jost", sans-serif;
$font-family_3: "Poppins", sans-serif;
$font-family_4: 'Roboto', sans-serif;
$font-family_5: 'Lato', sans-serif;
$font-family_6: 'Montserrat', sans-serif;
$font-family_7: 'Merriweather', serif;
$font-family_8: 'Source Sans Pro', sans-serif;
$background-color_1: rgba(0, 0, 0, 0.842);
$background-color_2: rgba(36, 36, 35, 0.815);
$background-color_3: linear-gradient(90deg, $color_1, #333333);
$background-color_4: linear-gradient(360deg, $color_5, $color_5_1);
$background-color_5: linear-gradient(90deg, $color_4, #b3b600);