@use './_colors.scss' as colors;

.form-section {
    display: none;
}

.form-section.current {
    display: inline;
}

.parsley-errors-list {
    color: colors.$color_3;
}

.step {
    padding: 0.5rem;
    border-radius: 2rem;
}

.step_selected {
    background-color: colors.$color_2;
    color: colors.$color_5;
}

.next {
    background-color: colors.$color_2;
    padding: 0.5rem;
}
