@import './colors.scss';

section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background-color: $background-color_1;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;

	h2 {
		font-size: 32px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		color: $color_4;

		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 120px;
			height: 1px;
			background: $color_5;
			bottom: 1px;
			left: calc(50% - 60px);
		}

		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 40px;
			height: 3px;
			background: $color_4;
			bottom: 0;
			left: calc(50% - 20px);
		}
	}

	p {
		margin-bottom: 0;
	}
}

// Sessão sobre:

.about {
	background-color: $background-color_2;
	color: $color_5;

	.content {

		h3 {
			font-weight: 600;
			font-size: 26px;
		}

		img {
			width: 25px;
			height: 25px;
			padding: 0 5px 0 0;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				padding-left: 20px;
				position: relative;
				margin-top: 10px;
			}

			i {
				position: absolute;
				left: 0;
				top: 2px;
				font-size: 20px;
				color: $color_4;
				line-height: 1;
			}
		}

		.btn-learn-more {
			font-family: $font-family_3;
			font-weight: 500;
			font-size: 14px;
			letter-spacing: 1px;
			display: inline-block;
			padding: 12px 32px;
			border-radius: 4px;
			transition: 0.3s;
			line-height: 1;
			color: $color_1;
			-webkit-animation-delay: 0.8s;
			animation-delay: 0.8s;
			margin-top: 6px;
			border: 2px solid $color_5;
			background: $color_4;

			&:hover {
				background: $color_5;
				border: 2px solid $color_1;
				color: $color_3;
				text-decoration: none;
			}
		}
	}
}

//Sessão equipe:

.team {
	.member {
		position: relative;
		box-shadow: 0px 2px 15px $color_2;
		padding: 30px;
		border-radius: 5px;
		background: $color_5;
		transition: 0.5s;

		.pic {
			overflow: hidden;
			width: 180px;
			border-radius: 50%;

		}

		&:hover {
			transform: translateY(-10px);
		}

		.member-info {
			padding-left: 30px;
		}

		span {
			display: block;
			font-size: 15px;
			padding-bottom: 10px;
			position: relative;
			font-weight: 500;

			&::after {
				content: '';
				position: absolute;
				display: block;
				width: 50px;
				height: 1px;
				background: $color_2;
				bottom: 0;
				left: 0;
			}
		}

		p {
			margin: 10px 0 0 0;
			font-size: 14px;
		}

		.social {
			margin-top: 12px;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			a {
				transition: ease-in-out 0.3s;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50px;
				width: 32px;
				height: 32px;
				background: $color_5;

				i {
					color: $color_1;
					font-size: 16px;
					margin: 0 2px;
				}

				&:hover {
					background: $color_2;

					i {
						color: $color_5;
					}
				}

				+ {
					a {
						margin-left: 8px;
					}
				}
			}
		}
	}

	h4 {
		color: $color_1;
	}

	color: $color_5;
}

// Membros

.member {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 20px;
	color: $color_1;
}

#footer {
	font-size: 14px;
	background: $background-color_1;

	.footer-newsletter {
		padding: 50px 0;
		background: $color_4;
		text-align: center;
		font-size: 15px;
		color: $color_1;

		h4 {
			font-size: 24px;
			margin: 0 0 20px 0;
			padding: 0;
			line-height: 1;
			font-weight: 600;
			color: $color_4;
		}

		form {
			margin-top: 30px;
			background: $color_5;
			padding: 6px 10px;
			position: relative;
			border-radius: 50px;
			box-shadow: 0px 2px 15px $background-color_1;
			text-align: left;

			input[type="email"] {
				border: 0;
				padding: 4px 8px;
				width: calc(100% - 100px);
			}
		}
	}

	.footer-top {
		padding: 60px 0 30px 0;
		background: $background-color_1;

		.footer-contact {
			margin-bottom: 30px;

			h3 {
				font-size: 28px;
				margin: 0 0 10px 0;
				padding: 2px 0 2px 0;
				line-height: 1;
				text-transform: uppercase;
				font-weight: 600;
				color: $color_4;
			}

			p {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 0;
				font-family: $font-family_2;
				color: $color_4;
			}
		}

		h4 {
			font-size: 16px;
			font-weight: bold;
			color: $color_4;
			position: relative;
			padding-bottom: 12px;
		}

		.footer-links {
			margin-bottom: 30px;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				i {
					padding-right: 2px;
					font-size: 18px;
					line-height: 1;
				}

				li {
					padding: 10px 0;
					display: flex;
					align-items: center;

					&:first-child {
						padding-top: 0;
					}
				}

				a {
					color: $color_2;
					transition: 0.3s;
					display: inline-block;
					line-height: 1;

					&:hover {
						text-decoration: none;
						color: $color_6;
					}
				}
			}
		}

		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: $color_4;
				color: $color_5;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;

				&:hover {
					background: $color_2;
					color: $color_5;
					text-decoration: none;
				}
			}
		}
	}

	.footer-bottom {
		padding-top: 30px;
		padding-bottom: 30px;
		color: $color_2;
	}

	.copyright {
		float: left;
	}

	.credits {
		float: right;
		padding-left: .5rem;
		font-size: 13px;

		a {
			transition: 0.3s;
		}
	}
}

.mobile-nav-toggle {
	color: $color_5;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
	color: $color_5;
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: $color_1;
	transition: 0.3s;
	z-index: 999;

	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		border-radius: 10px;
		overflow-y: hidden;
		transition: 0.3s;
	}

	.active {
		color: $color_4;
	}
}

.redes {
	color: $color_2;
}

#hero {
	width: 100%;
	height: 80vh;
	background: $background-color_1;

	.container {
		padding-top: 72px;
	}

	h1 {
		margin: 0 0 10px 0;
		font-size: 48px;
		font-weight: 700;
		line-height: 56px;
		color: $color_4;
	}

	h2 {
		color: $color_5;
		margin-bottom: 50px;
		font-size: 24px;
	}

	.btn-get-started {
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 10px 28px 11px 28px;
		border-radius: 50px;
		transition: 0.5s;
		margin: 10px 0 0 0;
		color: $color_1;
		background: $color_4;

		&:hover {
			background: $color_2;
		}
	}

	.animated {
		animation: up-down 2s ease-in-out infinite alternate-reverse both;
	}
}

.erro403, .erro404 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-color_2;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    text-align: center;

	p {
		color: $color_5;
	}
}