@import 'colors.scss';

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: $color_4;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	i {
		font-size: 24px;
		color: $color_1;
		line-height: 0;
	}
	&:hover {
		background: $color_2;
		color: $color_3;
	}
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

#header {
	transition: all 0.5s;
	z-index: 997;
	padding: 15px 0;
	background-color: $background-color_1;
	ul{
		margin: 0 10px 0px 10px;
		li{
			margin: 3px 5px 3px 5px;
			white-space: nowrap;
			a{
				color: $color_4;
				text-decoration: none;
				transition: 300ms;
			}a:hover{
				color: $color_2;
				text-decoration: none;
				transition: 300ms;
			}
			.btn{
				color: $color_5;
			}
		}
	}
}