@import '_colors.scss';

$espacamento: 1rem;
.dropdown-hover-submenu {
  position: relative;
}

.dropdown-hover-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition-delay: 0.2s;
}

.dropdown-hover-submenu:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

#header {
	img{
		width: 10rem;
		height: 3rem;
	}
	transition: all 1s;
	z-index: 9997;
	padding: 1rem;
	background-color: $background-color_1;
	.navbar-toggler{
		background-color: $color_5;
		margin: $espacamento;
	}
	h1{
		font-size: 1.6rem;
	}
	ul{
		margin: 0rem 1rem 0rem 1rem;
		li{
			margin: 0.5rem 0.5rem 0.5rem 0.5rem;
			white-space: nowrap;
		}
		.btn-light, .btn-success, .btn-info, .btn-danger{
			color: $color_5;
		}
		.btn-light, .btn-warning{
			color: $color_1;
		}
		.btn:hover{
			transition: 300ms;
			color: $color_1;
		}
		.dropdown-menu{
			background-color: $color_1;
		}
		.dropdown-item:hover{
			background-color: $color_1;
		}
		
		a {
			font-family: $font-family_2;
			color: $color_4;
			transition: 300ms;
		}a:hover{
			transition: 300ms;
			color: $color_2;
		}
	}
}