@import './colors.scss';

$larguras: 1rem;

.cadastro {
    background-color: $color_5_1;
    text-align: center;
    border-radius: 15px;
    margin-top: 9rem;
    margin-bottom: 5rem;
    position: relative;
    padding: $larguras $larguras $larguras $larguras;
    overflow-x: auto;
    overflow-y: auto;
    .btn{
        white-space: nowrap;
        i{
            padding: 0 $larguras 0 0;
        }
    }
}

.cadastro h1{
    padding: $larguras $larguras $larguras $larguras;
    font-family: $font-family_2;
    color: $color_1;
}

.campos {
    font-family: $font-family_8;
    font-size: large;
    text-align: left;
    position: relative;
    padding: 0rem $larguras $larguras $larguras;
}

.mensseger_error_container{
    z-index: 9999;
    position: fixed;
    top: 35%;
    left: 30%;
    background-color: $color_5;
    border-radius: 10px;
    padding: $larguras $larguras $larguras $larguras;
}