.box-questions {
  background-color: rgba(228, 228, 228, 0.6588235294);
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27rem;
  border-radius: 1rem;
  text-align: center;
  margin: 8%;
}
.box-questions input {
  width: 50%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}
.box-questions button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
.box-questions button:hover {
  cursor: pointer;
  transition: 0.4s;
  background-color: #00FF00;
}

.header {
  background-color: #008000;
  color: #000000;
  border-radius: 10px 10px 0 0;
  font-size: 1.4rem;
}
.header p {
  font-family: "Lato", sans-serif;
}

.footer {
  background-color: #008000;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

#historic {
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.box-my-message {
  display: flex;
  justify-content: flex-end;
}

.box-response-message {
  display: flex;
  justify-content: flex-start;
}

.my-message, .response-message {
  padding: 1rem;
  border-radius: 10px;
  color: #000000;
  margin: 0;
}

.my-message {
  text-align: right;
  background-color: #fbff00;
}

.response-message {
  text-align: left;
  background-color: #00FF00;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: rgba(0, 0, 0, 0.842);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #fbff00;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #FFFFFF;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #fbff00;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

.about {
  background-color: rgba(36, 36, 35, 0.815);
  color: #FFFFFF;
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content img {
  width: 25px;
  height: 25px;
  padding: 0 5px 0 0;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 20px;
  position: relative;
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #fbff00;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #000000;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #FFFFFF;
  background: #fbff00;
}
.about .content .btn-learn-more:hover {
  background: #FFFFFF;
  border: 2px solid #000000;
  color: #FF0000;
  text-decoration: none;
}

.team {
  color: #FFFFFF;
}
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px #00FF00;
  padding: 30px;
  border-radius: 5px;
  background: #FFFFFF;
  transition: 0.5s;
}
.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}
.team .member:hover {
  transform: translateY(-10px);
}
.team .member .member-info {
  padding-left: 30px;
}
.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #00FF00;
  bottom: 0;
  left: 0;
}
.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
}
.team .member .social a i {
  color: #000000;
  font-size: 16px;
  margin: 0 2px;
}
.team .member .social a:hover {
  background: #00FF00;
}
.team .member .social a:hover i {
  color: #FFFFFF;
}
.team .member .social a + a {
  margin-left: 8px;
}

.member {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #000000;
}

#footer {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.842);
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #fbff00;
  text-align: center;
  font-size: 15px;
  color: #000000;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #fbff00;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #FFFFFF;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.842);
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: rgba(0, 0, 0, 0.842);
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #fbff00;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #fbff00;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fbff00;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #FF0000;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #00FF00;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #ff7919;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fbff00;
  color: #FFFFFF;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #00FF00;
  color: #FFFFFF;
  text-decoration: none;
}
#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #00FF00;
}
#footer .copyright {
  float: left;
}
#footer .credits {
  float: right;
  padding-left: 0.5rem;
  font-size: 13px;
}
#footer .credits a {
  transition: 0.3s;
}

.mobile-nav-toggle {
  color: #FFFFFF;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #FFFFFF;
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000000;
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #000000;
}
.navbar-mobile a:hover {
  color: #00FF00;
}
.navbar-mobile .active {
  color: #fbff00;
}
.navbar-mobile li:hover > a {
  color: #fbff00;
}

.redes {
  color: #00FF00;
}

#hero {
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.842);
}
#hero .container {
  padding-top: 72px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fbff00;
}
#hero h2 {
  color: #FFFFFF;
  margin-bottom: 50px;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #000000;
  background: #fbff00;
}
#hero .btn-get-started:hover {
  background: #00FF00;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
/*Tela de carregamento*/
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #008000;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fbff00;
  border-top-color: #FFFFFF;
  border-bottom-color: #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

/*MENU PRINCIPAL */
nav .btn-light {
  color: #000000 !important;
}
navhover {
  font-weight: bold !important;
  color: #000000 !important;
}

.offcanvas {
  z-index: 9999;
  color: #fbff00;
}
.offcanvas .offcanvas-header {
  background-color: rgba(36, 36, 35, 0.815);
}
.offcanvas .offcanvas-body {
  background-color: rgba(36, 36, 35, 0.815);
}
.offcanvas a {
  color: #fbff00 !important;
}
.offcanvas .dropdown-menu {
  background-color: rgba(36, 36, 35, 0.815);
}
.offcanvas .dropdown-menu .dropdown-item:hover {
  background-color: rgba(228, 228, 228, 0.6588235294);
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fbff00;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #000000;
  line-height: 0;
}
.back-to-top:hover {
  background: #00FF00;
  color: #FF0000;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.842) !important;
}
#header ul {
  margin: 0 10px 0px 10px;
}
#header ul li {
  margin: 3px 5px 3px 5px;
  white-space: nowrap;
}
#header ul li a {
  color: #fbff00;
}
#header .logo {
  color: #fbff00 !important;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  padding: 0 0 0 25px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fbff00;
}
#header a:hover {
  color: #00FF00 !important;
}
#header .navbar-toggler {
  background-color: #FFFFFF;
}
#header .btn-success, #header .btn-warning, #header .btn-info {
  color: #FFFFFF !important;
}
#header .btn-success:hover, #header .btn-warning:hover, #header .btn-info:hover {
  color: #FFFFFF !important;
  font-weight: bold;
}
#header .dropdown-menu {
  background-color: black;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright {
    text-align: center;
    float: none;
  }
  #footer .credits {
    text-align: center;
    float: none;
    padding-top: 4px;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}
@media screen and (max-width: 300px) {
  .box-questions {
    margin-top: 7rem;
    height: 22rem;
  }
  #header .logo {
    font-size: 12px;
  }
}
/**
* Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
* modified by: Mateus Santos: www.github.com/Mateus-Santos/tela-oficina


*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #00FF00;
  text-decoration: none;
}

h1 {
  font-family: "Jost", sans-serif;
}

h2 {
  font-family: "Jost", sans-serif;
}

h3 {
  font-family: "Jost", sans-serif;
}

h4 {
  font-family: "Jost", sans-serif;
}

h5 {
  font-family: "Jost", sans-serif;
}

h6 {
  font-family: "Jost", sans-serif;
}

.cadastro {
  background-color: rgba(228, 228, 228, 0.6588235294);
  text-align: center;
  border-radius: 15px;
  margin-top: 150px;
  margin-bottom: 100px;
  position: relative;
}

.cadastro h1 {
  padding: 20px 20px 20px 20px;
  font-family: "Jost", sans-serif;
}

.campos {
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  text-align: left;
  position: relative;
  padding: 0px 20px 20px 20px;
}/*# sourceMappingURL=app.css.map */