@media (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar {
		ul {
			display: none;
		}
	}
	#hero {
		height: 100vh;
		text-align: center;
		.animated {
			-webkit-animation: none;
			animation: none;
		}
		.hero-img {
			text-align: center;
			img {
				width: 50%;
			}
		}
	}
}

@media (max-width: 768px) {
	#hero {
		h1 {
			font-size: 28px;
			line-height: 36px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 30px;
		}
		.hero-img {
			img {
				width: 70%;
			}
		}
	}
	#footer {
		.footer-bottom {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.copyright {
			text-align: center;
			float: none;
		}
		.credits {
			text-align: center;
			float: none;
			padding-top: 4px;
		}
	}
}

@media (max-width: 575px) {
	#hero {
		.hero-img {
			img {
				width: 80%;
			}
		}
		.btn-get-started {
			font-size: 16px;
			padding: 10px 24px 11px 24px;
		}
	}
}